body {
  margin: 0;
  font-family: Arial, sans-serif;
   background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

  .hero-section img {
  width: 100%;
  display: block;
}

.article-section p {
  line-height: 1.6;
  margin-bottom: 16px;
}

.recipe-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.author-section {
  display: flex;
  align-items: center;
  gap: 15px;
}